@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(images/numberguessingbg.png);
}

.card{
    width: 800px;
    height: auto;
    background-color: rgb(110, 196, 131);
    justify-content: center;
    align-items: center;
    margin-left: 150px;
    border-radius: 10px;
}

.wrapper{
    justify-content: center;
}

.input-field{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 25px 0;
}

.input-field input,
.input-field button{
    height: 50px;
    outline: none;
    padding: 0 20px;
    border-radius: 8px;
}

.input-field input{
    text-align: center;
    font-size: 18px;
    width: 170px;
    color: rgb(43, 41, 41);
    border: 1px solid rgb(89, 89, 104);
}

.input-field input:disabled {
    cursor: not-allowed;
}

.input-field button {
    border: none;
    background-color: rgb(3, 129, 129);
    cursor: pointer;
    transition: 0.3s;
}

.input-field button:active{
    transform: scale(0.97);
}

